* {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background: #80e5ff;
  height: 100px;
  width: 100%;
}

body {
  background: black;
}

main {
  background: gray;
  width: 50%;
  margin: 100px auto 0px auto;
  line-height: 1.8;
  padding: 40px;
}

h1 {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #8cdef2;
}

li {
  margin: 0px 0px 0px 20px;
}

input {
  width: 50%;
}

.left,
.right {
  color: black;
  padding: 40px 20px 40px 20px;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.stats {
  margin: 20px 0px 20px 0px;
}

.numOfStudents {
  float: right;
  opacity: 0.5;
  margin: 0px 10px 10px 0px;
}

.buttons {
  display: flex;
  width: 50%;
  margin: 10px auto;
  justify-content: space-between;
}

.previousNext {
  border: none;
  background: black;
  color: gray;
  font-size: 16pt;
  font-family: 'Ubuntu', sans-serif;
}

.editDeleteAdd {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16pt;
  border: none;
  background: #8cdef2;
  border-radius: 12px;
  width: 100px;
}

.inputField {
  width: 100%;
  margin: 0px auto;
  background: gray;
  font-family: 'Ubuntu', sans-serif;
}

.submitNewInfo {
  margin: 20px auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16pt;
  border: none;
  background: #8cdef2;
  border-radius: 12px;
  width: 100px;
}
